/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@-webkit-keyframes arrow2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
@keyframes arrow2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
@-webkit-keyframes noScroll {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
@keyframes noScroll {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
@-webkit-keyframes curtain {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
}
@keyframes curtain {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
}
body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #272727;
  background: #fafafa;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #D4D4D4;
  background: #fafafa;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  visibility: hidden;
}
@media screen and (min-width: 1024px) {
  .header {
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    height: 114px;
  }
}
.header__ttl {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 58px;
  height: 100%;
  padding: 18px;
  border-right: 1px solid #D4D4D4;
}
@media screen and (min-width: 1024px) {
  .header__ttl {
    width: 114px;
    padding: 38px 40px;
  }
}
.header__logo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .header__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 50%;
  }
}
.header__list {
  color: #727272;
}
.header__list:not(:last-child) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 4px;
}
@media screen and (min-width: 1024px) {
  .header__list:not(:last-child) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 0;
  }
}
.header__list:nth-child(3) {
  margin-bottom: 20px;
  border-bottom: 1px solid #D4D4D4;
}
@media screen and (min-width: 1024px) {
  .header__list:nth-child(3) {
    margin-bottom: 0;
    border: none;
    border-right: 1px solid #D4D4D4;
  }
}
@media screen and (min-width: 1024px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    border-right: 1px solid #D4D4D4;
  }
  .header__list:not(:last-child) {
    padding: 0 35px;
  }
}
.header__span {
  display: inline;
}
@media screen and (min-width: 1024px) {
  .header__span {
    display: none;
  }
}
.header__link {
  display: block;
  text-decoration: none;
  color: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 57px;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.header__link:hover {
  background: #fff;
}
@media screen and (min-width: 1024px) {
  .header__link {
    padding: 0 18px;
  }
  .header__link:hover {
    background: transparent;
  }
}
.header__mouse {
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .header__mouse {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 114px;
    height: 100%;
    border-left: 1px solid #D4D4D4;
    visibility: visible;
  }
}
.header__scroll {
  font-size: 15px;
}

.svg__home {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
@media screen and (min-width: 1024px) {
  .svg__home {
    margin-right: 0;
  }
}
.svg__mouse {
  width: 18px;
  height: 32px;
  margin-bottom: 4px;
}
.svg__arrow {
  width: 12px;
  margin-bottom: 8px;
  -webkit-animation: arrow2 1s ease-in-out 0.7s infinite alternate;
          animation: arrow2 1s ease-in-out 0.7s infinite alternate;
}

.btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 58px;
  height: 100%;
  border-left: 1px solid #D4D4D4;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .btn {
    display: none;
  }
}
.btn__top {
  position: absolute;
  width: 14px;
  height: 1px;
  background: #272727;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}
.btn__middle {
  position: absolute;
  width: 14px;
  height: 1px;
  background: #272727;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}
.btn__bottom {
  position: absolute;
  width: 14px;
  height: 1px;
  background: #272727;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.gnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-top: 58px;
  font-size: 15px;
  text-align: center;
  background: #fafafa;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .gnav {
    position: static;
    height: 100%;
    margin-top: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
    pointer-events: all;
  }
}
@media screen and (min-width: 1024px) {
  .gnav__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
    padding: 0 25px;
    border-bottom: 1px solid #D4D4D4;
  }
}
.gnav__list {
  border-bottom: 1px solid #D4D4D4;
}
@media screen and (min-width: 1024px) {
  .gnav__list {
    border-bottom: none;
  }
}
.gnav__link {
  display: block;
  line-height: 57px;
  text-decoration: none;
  color: #272727;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.gnav__link:hover {
  background: #fff;
}
@media screen and (min-width: 1024px) {
  .gnav__link {
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
    padding: 15px 13px;
    line-height: normal;
  }
  .gnav__link:hover {
    opacity: 0.5;
    background: transparent;
  }
}

.footer {
  padding: 32px 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 24px 0;
  }
}
.footer__copy {
  font-size: 10px;
  text-align: center;
  color: #727272;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    font-size: 14px;
  }
}

.fixed {
  position: fixed;
  top: 0;
}

#top {
  width: 100%;
  height: 100vh;
}
#top .wrapper {
  overflow-y: scroll;
}
@media screen and (min-width: 1024px) {
  #top .wrapper {
    overflow-y: auto;
  }
}
#top .main {
  overflow: hidden;
}
#top .loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 20px;
  background: #fafafa;
}
#top .loading__txt {
  margin-bottom: 20px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
#top .loading__bar {
  width: 200px;
  height: 2px;
  margin-bottom: 18px;
}
#top .scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
  background: #fafafa;
}
#top .scroll__txt {
  font-size: 20px;
}
#top .scroll__arrow {
  -webkit-animation: arrow 1s ease-in-out 0.7s infinite alternate;
          animation: arrow 1s ease-in-out 0.7s infinite alternate;
}
#top .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 85vh;
  background: #fafafa;
}
#top .intro__box {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}
#top .intro__ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-size: 80px;
  font-weight: 500;
  cursor: default;
}
@media screen and (min-width: 768px) {
  #top .intro__ttl {
    margin-bottom: 22px;
    font-size: 108px;
  }
}
@media screen and (min-width: 1024px) {
  #top .intro__ttl {
    font-size: 228px;
  }
}
#top .intro__ttl span {
  display: inline-block;
}
#top .intro__sub {
  font-size: 17px;
  color: #727272;
}
@media screen and (min-width: 768px) {
  #top .intro__sub {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #top .intro__sub {
    font-size: 24px;
  }
}
#top .intro__wrap {
  z-index: 5;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  #top .intro__wrap {
    height: 100vh;
    margin-top: 40vh;
  }
}
#top .intro__cube {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: perspective(1000px) translate3d(0px, 0, -160px) rotateY(0deg);
          transform: perspective(1000px) translate3d(0px, 0, -160px) rotateY(0deg);
}
@media screen and (min-width: 1024px) {
  #top .intro__cube {
    width: 100vw;
    height: 100vh;
    -webkit-transform: perspective(1500px) translate3d(0px, 0, -600px) rotateY(0deg);
            transform: perspective(1500px) translate3d(0px, 0, -600px) rotateY(0deg);
  }
}
#top .intro__front, #top .intro__side {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 72vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px;
}
@media screen and (min-width: 1024px) {
  #top .intro__front, #top .intro__side {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
  }
}
#top .intro__front {
  background: #fafafa;
  -webkit-transform: translateZ(36vw);
          transform: translateZ(36vw);
}
@media screen and (min-width: 1024px) {
  #top .intro__front {
    -webkit-transform: translateZ(26vw);
            transform: translateZ(26vw);
  }
}
#top .intro__side {
  background: #fafafa;
  -webkit-transform: rotateY(90deg) translateZ(36vw);
          transform: rotateY(90deg) translateZ(36vw);
}
@media screen and (min-width: 1024px) {
  #top .intro__side {
    -webkit-transform: rotateY(90deg) translateZ(26vw);
            transform: rotateY(90deg) translateZ(26vw);
  }
}
@media screen and (min-width: 1024px) {
  #top .intro__letter, #top .intro__letter--front, #top .intro__letter--side {
    font-size: 73%;
  }
}
#top .intro__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 9vw;
  font-weight: 700;
  line-height: 1.2;
}
#top .work__intro {
  position: relative;
}
#top .work__front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  width: 100%;
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  #top .work__front {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr;
    grid-template-rows: repeat(10, 1fr);
        grid-template-areas: "area1 . area2" ". area3 ." "area4 . area5" ". area6 ." "area7 . area8" ". area9 ." "area10 . area11" ". area12 ." "area13 . area14" ". area15 .";
    row-gap: 18px;
  }
}
#top .work__site {
  width: 50%;
  -webkit-box-shadow: 8px 8px 24px rgba(39, 39, 39, 0.2);
          box-shadow: 8px 8px 24px rgba(39, 39, 39, 0.2);
}
#top .work__site:nth-of-type(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media screen and (min-width: 768px) {
  #top .work__site {
    width: 38vw;
    -webkit-box-shadow: 12px 12px 24px rgba(39, 39, 39, 0.2);
            box-shadow: 12px 12px 24px rgba(39, 39, 39, 0.2);
  }
}
@media screen and (min-width: 1024px) {
  #top .work__site {
    width: 26vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #top .work__site:nth-of-type(3n) {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #top .work__site:nth-of-type(3n+2) {
    justify-self: flex-end;
  }
  #top .work__site:nth-of-type(1) {
    grid-area: area1;
  }
  #top .work__site:nth-of-type(2) {
    grid-area: area2;
  }
  #top .work__site:nth-of-type(3) {
    grid-area: area3;
  }
  #top .work__site:nth-of-type(4) {
    grid-area: area4;
  }
  #top .work__site:nth-of-type(5) {
    grid-area: area5;
  }
  #top .work__site:nth-of-type(6) {
    grid-area: area6;
  }
  #top .work__site:nth-of-type(7) {
    grid-area: area7;
  }
  #top .work__site:nth-of-type(8) {
    grid-area: area8;
  }
  #top .work__site:nth-of-type(9) {
    grid-area: area9;
  }
  #top .work__site:nth-of-type(10) {
    grid-area: area10;
  }
  #top .work__site:nth-of-type(11) {
    grid-area: area11;
  }
  #top .work__site:nth-of-type(12) {
    grid-area: area12;
  }
  #top .work__site:nth-of-type(13) {
    grid-area: area13;
  }
  #top .work__site:nth-of-type(14) {
    grid-area: area14;
  }
  #top .work__site:nth-of-type(15) {
    grid-area: area15;
  }
}
@media screen and (min-width: 1024px) {
  #top .work__site:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #top .work__site:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #top .work__site:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  #top .work__site:nth-of-type(4) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  #top .work__site:nth-of-type(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  #top .work__site:nth-of-type(6) {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  #top .work__site:nth-of-type(7) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  #top .work__site:nth-of-type(8) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  #top .work__site:nth-of-type(9) {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
  }
  #top .work__site:nth-of-type(10) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  #top .work__site:nth-of-type(11) {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
  }
  #top .work__site:nth-of-type(12) {
    -ms-grid-row: 15;
    -ms-grid-column: 2;
  }
  #top .work__site:nth-of-type(13) {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }
  #top .work__site:nth-of-type(14) {
    -ms-grid-row: 17;
    -ms-grid-column: 3;
  }
  #top .work__site:nth-of-type(15) {
    -ms-grid-row: 19;
    -ms-grid-column: 2;
  }
}
#top .work__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24vh;
  width: 100%;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  #top .work__back {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    gap: 10vh;
    width: 54vw;
    margin: 0 auto;
  }
}
#top .work__banner {
  width: 28%;
  -webkit-box-shadow: 8px 8px 24px rgba(39, 39, 39, 0.2);
          box-shadow: 8px 8px 24px rgba(39, 39, 39, 0.2);
}
@media screen and (min-width: 768px) {
  #top .work__banner {
    width: 25vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-shadow: 12px 12px 24px rgba(39, 39, 39, 0.2);
            box-shadow: 12px 12px 24px rgba(39, 39, 39, 0.2);
  }
}
@media screen and (min-width: 1024px) {
  #top .work__banner {
    width: 14.6vw;
  }
  #top .work__banner:nth-of-type(even) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
#top .work__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#top .work__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  margin-top: -280vh;
  margin-bottom: -68vh;
  padding-top: 58px;
  text-align: center;
  color: #fafafa;
  background: #DDDECD;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  #top .work__feature {
    margin-top: -220vh;
    margin-bottom: -55vh;
  }
}
@media screen and (min-width: 1024px) {
  #top .work__feature {
    height: 100vh;
    margin-top: -200vh;
    padding-top: 114px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
#top .work__unit {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.5vh;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  #top .work__unit {
    gap: 11vh;
  }
}
@media screen and (min-width: 1024px) {
  #top .work__unit {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    z-index: 5;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 7vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 75%;
    padding-left: 37vw;
  }
}
#top .work__list {
  width: 75%;
  -webkit-box-shadow: 8px 8px 24px rgba(39, 39, 39, 0.2);
          box-shadow: 8px 8px 24px rgba(39, 39, 39, 0.2);
}
@media screen and (min-width: 768px) {
  #top .work__list {
    -webkit-box-shadow: 12px 12px 24px rgba(39, 39, 39, 0.2);
            box-shadow: 12px 12px 24px rgba(39, 39, 39, 0.2);
  }
}
@media screen and (min-width: 1024px) {
  #top .work__list {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 41.45vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-shadow: 16px 16px 42px rgba(39, 39, 39, 0.2);
            box-shadow: 16px 16px 42px rgba(39, 39, 39, 0.2);
  }
  #top .work__list:nth-of-type(odd) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  #top .work__list:nth-of-type(even) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
#top .work__cover {
  position: relative;
  top: -148px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  #top .work__cover {
    top: -194px;
  }
}
@media screen and (min-width: 1024px) {
  #top .work__cover {
    top: 0;
    width: 41.45vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
#top .work__left {
  -webkit-transform: scale(2);
          transform: scale(2);
}
@media screen and (min-width: 768px) {
  #top .work__left {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}
@media screen and (min-width: 1024px) {
  #top .work__left {
    width: 90%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media screen and (min-width: 1024px) {
  #top .work__right {
    width: 10%;
  }
}
#top .work__logo {
  position: absolute;
  bottom: 7%;
  left: 3%;
  width: 100%;
  -webkit-transform: translateX(210%);
          transform: translateX(210%);
}
@media screen and (min-width: 1024px) {
  #top .work__logo {
    width: 293px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
#top .work__parts {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#top .work__ttl {
  padding: 16% 0;
  font-size: 28px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  #top .work__ttl {
    padding: 80px 0;
    font-size: 34px;
  }
}
@media screen and (min-width: 1024px) {
  #top .work__ttl {
    position: fixed;
    bottom: 12vh;
    left: 50%;
    z-index: 1;
    padding: 0;
    font-size: 2.86vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
#top .work__warp {
  position: fixed;
  bottom: 16px;
  right: 13px;
  z-index: 50;
  display: none;
}
@media screen and (min-width: 1024px) {
  #top .work__warp {
    bottom: 6vh;
    right: 2.6vw;
    display: block;
    z-index: 1;
  }
}
#top .work__warplink {
  display: block;
  text-decoration: none;
  color: #fafafa;
}
#top .work__menu {
  position: relative;
  z-index: 20;
  padding: 15% 0;
  font-size: 15px;
  background: #BCCDCE;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  #top .work__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3.4vw;
    width: 100%;
    padding: 18% 4.5vw;
  }
}
@media screen and (min-width: 1024px) {
  #top .work__menu {
    margin-top: 25vh;
    padding: 10% 4.1vw;
  }
}
#top .work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#top .work__item:not(:last-of-type) {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  #top .work__item:not(:last-of-type) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  #top .work__item {
    -webkit-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
  }
  #top .work__item:hover {
    opacity: 0.7;
  }
}
#top .work__link {
  display: block;
  text-decoration: none;
  color: #272727;
  width: 80%;
}
@media screen and (min-width: 768px) {
  #top .work__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
#top .work__thumb {
  margin-bottom: 3.6vh;
  -webkit-box-shadow: 8px 8px 24px rgba(39, 39, 39, 0.2);
          box-shadow: 8px 8px 24px rgba(39, 39, 39, 0.2);
}
@media screen and (min-width: 768px) {
  #top .work__thumb {
    width: 43vw;
    height: 240px;
    margin-bottom: 32px;
    -webkit-box-shadow: 12px 12px 24px rgba(39, 39, 39, 0.2);
            box-shadow: 12px 12px 24px rgba(39, 39, 39, 0.2);
  }
}
@media screen and (min-width: 1024px) {
  #top .work__thumb {
    width: 28vw;
    height: auto;
    margin-bottom: 28px;
    -webkit-box-shadow: 16px 16px 42px rgba(39, 39, 39, 0.2);
            box-shadow: 16px 16px 42px rgba(39, 39, 39, 0.2);
  }
}
#top .work__name {
  margin-bottom: 1.3vh;
}
@media screen and (min-width: 1024px) {
  #top .work__name {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
#top .work__outerlink {
  display: inline-block;
  width: 12px;
  height: 12px;
}
@media screen and (min-width: 1024px) {
  #top .work__outerlink {
    margin-left: 5px;
    width: 14px;
    height: 14px;
  }
}
#top .work__svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#top .work__linkicon {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#top .work__cat {
  color: #727272;
}
#top .skill {
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  #top .skill {
    z-index: 11;
  }
}
#top .skill__ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-size: 60px;
  line-height: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  #top .skill__ttl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    font-size: 80px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1024px) {
  #top .skill__ttl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    font-size: 128px;
    line-height: 1;
    padding-top: 114px;
  }
}
#top .skill__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
  height: 100vh;
  padding: 88px 0 30px;
}
@media screen and (min-width: 768px) {
  #top .skill__intro {
    padding: 118px 0 60px;
  }
}
@media screen and (min-width: 1024px) {
  #top .skill__intro {
    padding: calc(114px + 5%) 0 5%;
    margin-top: -150vh;
  }
}
#top .skill__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  #top .skill__row {
    gap: 107px;
  }
}
#top .skill__main {
  margin-bottom: 50vh;
}
#top .skill__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  padding: 88px 0 30px;
  background: #C5D1E0;
}
#top .skill__sub {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.35;
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  #top .skill__sub {
    margin-bottom: 24px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1024px) {
  #top .skill__sub {
    margin-bottom: 20px;
    font-size: 55px;
  }
}
#top .skill__note {
  font-size: 12px;
  text-align: center;
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  #top .skill__note {
    font-size: 17px;
  }
}
@media screen and (min-width: 1024px) {
  #top .skill__note {
    font-size: 20px;
  }
}
#top .skill__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  padding: 15% 6.6%;
  background: #C5D1E0;
}
@media screen and (min-width: 768px) {
  #top .skill__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    padding: 17% 4%;
  }
}
@media screen and (min-width: 1024px) {
  #top .skill__menu {
    gap: 80px;
    padding: 10% 8.3vw;
  }
}
#top .skill__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  width: 150px;
}
@media screen and (min-width: 768px) {
  #top .skill__item {
    gap: 16px;
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  #top .skill__item {
    width: 13vw;
  }
}
#top .skill__pic {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  #top .skill__pic {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  #top .skill__pic {
    width: 120px;
    height: 120px;
  }
}
#top .skill__icon {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
#top .skill__name {
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  #top .skill__name {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  #top .skill__name {
    font-size: 18px;
  }
}
#top .skill__txt {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  #top .skill__txt {
    font-size: 12px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1024px) {
  #top .skill__txt {
    font-size: 14px;
  }
}
#top .profile {
  margin-bottom: -200vh;
}
@media screen and (min-width: 1024px) {
  #top .profile {
    margin-bottom: -300vh;
  }
}
#top .profile__ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-size: 60px;
  line-height: 1;
  padding: 88px 0 30px;
}
@media screen and (min-width: 768px) {
  #top .profile__ttl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    font-size: 80px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1024px) {
  #top .profile__ttl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    font-size: 128px;
    line-height: 1;
    padding-top: 114px;
  }
}
#top .profile__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  padding: 88px 0 30px;
}
#top .profile__lead {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  #top .profile__lead {
    margin-bottom: 24px;
    font-size: 34px;
  }
}
@media screen and (min-width: 1024px) {
  #top .profile__lead {
    margin-bottom: 20px;
    font-size: 55px;
  }
}
#top .profile__sub {
  font-size: 14px;
  color: #727272;
}
@media screen and (min-width: 768px) {
  #top .profile__sub {
    font-size: 17px;
  }
}
@media screen and (min-width: 1024px) {
  #top .profile__sub {
    font-size: 20px;
  }
}
#top .profile__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  width: 100%;
  background: #BECEBC;
  padding: calc(15% + 58px) 5% 15%;
}
@media screen and (min-width: 768px) {
  #top .profile__detail {
    gap: 32px;
    padding: calc(15% + 58px) 15% 15%;
  }
}
@media screen and (min-width: 1024px) {
  #top .profile__detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: calc(114px + 5%) 12.5vw 5%;
  }
}
#top .profile__pic {
  width: 100%;
  height: 370px;
}
@media screen and (min-width: 768px) {
  #top .profile__pic {
    height: 625px;
  }
}
@media screen and (min-width: 1024px) {
  #top .profile__pic {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 34.5vw;
    height: auto;
  }
}
#top .profile__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#top .profile__cat {
  font-size: 40px;
  color: #fafafa;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  #top .profile__cat {
    font-size: 48px;
    color: #fafafa;
  }
}
@media screen and (min-width: 1024px) {
  #top .profile__cat {
    font-size: 70px;
    color: #fafafa;
    margin-bottom: 28px;
  }
}
#top .profile__dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
}
#top .profile__dl:first-of-type {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  #top .profile__dl {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  #top .profile__dl {
    width: 30.15vw;
  }
  #top .profile__dl:first-of-type {
    margin-bottom: 92px;
  }
  #top .profile__dl:last-of-type .profile__row:last-of-type {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
#top .profile__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
  grid-template-columns: 35% 65%;
  padding: 10px 0;
}
#top .profile__row:not(:last-of-type) {
  border-bottom: 1px solid #fafafa;
}
@media screen and (min-width: 768px) {
  #top .profile__row {
    padding: 12px 0;
  }
}
@media screen and (min-width: 1024px) {
  #top .profile__row {
    -ms-grid-columns: 35% 65%;
    grid-template-columns: 35% 65%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 0;
  }
}
#top .profile__dt {
  display: inline-block;
  font-size: 14px;
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  #top .profile__dt {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  #top .profile__dt {
    font-size: 15px;
  }
}
#top .profile__dd {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  #top .profile__dd {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  #top .profile__dd {
    font-size: 14px;
  }
}
#top .profile__span {
  display: block;
  margin-bottom: 8px;
}
#top .outro {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  padding: calc(58px + 5%) 5% 5%;
  list-style-type: none;
  cursor: default;
}
@media screen and (min-width: 1024px) {
  #top .outro {
    padding: calc(114px + 1%) 2% 1%;
  }
}
#top .outro__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 27px;
  width: 100%;
}
#top .outro__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
#top .outro__item:not(:nth-of-type(n+3):nth-of-type(-n+7)) {
  display: none;
}
@media screen and (min-width: 768px) {
  #top .outro__item:not(:nth-of-type(n+3):nth-of-type(-n+7)) {
    display: block;
  }
  #top .outro__item:not(:nth-of-type(n+2):nth-of-type(-n+8)) {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #top .outro__item:not(:nth-of-type(n+2):nth-of-type(-n+8)) {
    display: block;
  }
}
#top .outro__letter {
  display: block;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#top .outro__svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#top .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #top .contact {
    height: 80vh;
  }
}
@media screen and (min-width: 1024px) {
  #top .contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100vh;
  }
}
#top .contact__thanks {
  margin-bottom: 16px;
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  #top .contact__thanks {
    margin-bottom: 32px;
    font-size: 64px;
  }
}
@media screen and (min-width: 1024px) {
  #top .contact__thanks {
    margin-bottom: 24px;
    font-size: 3.75vw;
  }
}
#top .contact__ttl {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  #top .contact__ttl {
    margin-bottom: 26px;
    font-size: 64px;
  }
}
@media screen and (min-width: 1024px) {
  #top .contact__ttl {
    font-size: 3.75vw;
  }
}
#top .contact__note {
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  #top .contact__note {
    font-size: 14px;
  }
}
#top .contact__span {
  color: #f00;
}
#top .form {
  width: 100%;
  padding: 0 4.8vw;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  #top .form {
    width: 65vw;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  #top .form {
    width: 34.9vw;
    min-width: 500px;
  }
}
#top .form__box {
  width: 100%;
}
#top .form__box:not(:last-of-type) {
  margin-bottom: 16px;
}
#top .form__box:nth-of-type(4) {
  margin-bottom: 36px;
}
#top .form__box:not(:nth-of-type(3)) .form__label::after {
  content: "*";
  color: #f00;
}
@media screen and (min-width: 768px) {
  #top .form__box:not(:last-of-type) {
    margin-bottom: 24px;
  }
  #top .form__box:nth-of-type(4) {
    margin-bottom: 36px;
  }
}
#top .form__label {
  display: block;
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  #top .form__label {
    font-size: 20px;
  }
}
#top .form__input {
  display: block;
  width: 100%;
  padding: 5px;
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #272727;
}
#top .form__textarea {
  display: block;
  width: 100%;
  height: 85px;
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #272727;
}
@media screen and (min-width: 768px) {
  #top .form__textarea {
    height: 100px;
  }
}
#top .form__submit {
  display: block;
  width: 160px;
  height: 40px;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 400;
  border: none;
  background: #272727;
  color: #fafafa;
  -webkit-appearance: none;
}
@media screen and (min-width: 768px) {
  #top .form__submit {
    width: 235px;
    height: 60px;
    font-size: 18px;
  }
}

#top .rotateLoad {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 0;
}
#top .showHeader {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}
#top .beigeHeader {
  background: #DDDECD;
  border-bottom-color: #fafafa;
  color: #fafafa;
}
#top .beigeHeader .header__ttl {
  border-right-color: #fafafa;
}
#top .beigeHeader .header__logo path {
  fill: #fafafa;
}
#top .beigeHeader .header__list {
  color: #fafafa;
  border-right-color: #fafafa;
}
#top .beigeHeader .header__link path {
  stroke: #fafafa;
}
#top .beigeHeader .header__mouse {
  border-left-color: #fafafa;
}
#top .beigeHeader .header__mouse path, #top .beigeHeader .header__mouse line {
  stroke: #fafafa;
}
#top .beigeHeader .gnav {
  background: #DDDECD;
}
#top .beigeHeader .gnav__nav {
  border-bottom-color: #fafafa;
}
#top .beigeHeader .gnav__link {
  color: #fafafa;
}
#top .bgChange {
  background: #BCCDCE;
}
#top .bgChange .gnav {
  background: #BCCDCE;
}
#top .skillBg {
  background: #C5D1E0;
  border-bottom-color: #fafafa;
  color: #fafafa;
}
#top .skillBg .header__ttl {
  border-right-color: #fafafa;
}
#top .skillBg .header__logo path {
  fill: #fafafa;
}
#top .skillBg .header__list {
  color: #fafafa;
  border-right-color: #fafafa;
}
#top .skillBg .header__link path {
  stroke: #fafafa;
}
#top .skillBg .header__mouse {
  border-left-color: #fafafa;
}
#top .skillBg .header__mouse path, #top .skillBg .header__mouse line {
  stroke: #fafafa;
}
#top .skillBg .gnav {
  background: #C5D1E0;
}
#top .skillBg .gnav__nav {
  border-bottom-color: #fafafa;
}
#top .skillBg .gnav__link {
  color: #fafafa;
}
#top .profileBg {
  background: #BECEBC;
  border-bottom-color: #fafafa;
  color: #fafafa;
}
#top .profileBg .header__ttl {
  border-right-color: #fafafa;
}
#top .profileBg .header__logo path {
  fill: #fafafa;
}
#top .profileBg .header__list {
  color: #fafafa;
  border-right-color: #fafafa;
}
#top .profileBg .header__link path {
  stroke: #fafafa;
}
#top .profileBg .header__mouse {
  border-left-color: #fafafa;
}
#top .profileBg .header__mouse path, #top .profileBg .header__mouse line {
  stroke: #fafafa;
}
#top .profileBg .gnav {
  background: #BECEBC;
}
#top .profileBg .gnav__nav {
  border-bottom-color: #fafafa;
}
#top .profileBg .gnav__link {
  color: #fafafa;
}
#top .notFixed {
  position: static;
}
#top .rotateTop {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#top .hideMiddle {
  visibility: hidden;
  opacity: 0;
}
#top .rotateBottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#top .slideGnav {
  -webkit-transform: translate(0);
          transform: translate(0);
  visibility: visible;
  pointer-events: all;
}
#top .noScroll {
  -webkit-animation: noScroll 0.5s ease-in-out 1 normal forwards;
          animation: noScroll 0.5s ease-in-out 1 normal forwards;
}
#top .isRisen {
  -webkit-animation: curtain 1s ease-in-out 1 normal forwards;
          animation: curtain 1s ease-in-out 1 normal forwards;
}