//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.changeColor {
    color: $black;
}

.changeBg {
    border: 1px solid $line;
    background: #fff;

    &:hover {
        background: $black;

        .changeLine {
            background: #fff;
        }

    }
}

.changeLine {
    background: $black;
    transition: all ease-out .6s;
}

.activeBtn {
    background: $black;

    &:hover {
        background: #fff;

        .rotateTop,
        .rotateBottom {
            background: $black;
        }
    }
}

.rotateTop {
    transform: rotate(40deg) translateX(0.5px);
    background: #fff;
    
}

.rotateBottom {
    transform: rotate(-40deg) translateX(0.5px);
    background: #fff;
}

.showSlide {
    z-index: 20;
    opacity: 1;
    transform: translateX(0);

}

.fadeIn {
    opacity: 0;
}

.showElement {
    top: 0;
    opacity: 1;
}