//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#interview {

    //lead-mixin
    @mixin lead {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.15em;
        color: $base-color;
    }


    .mv {
        display: flex;
        gap: 150px;
        margin-bottom: 160px;

        &__pic {
            width: 960px;
            height: 980px;
        }

        &__box {
            margin-top: 290px;
        }

        &__lead {
            @include lead;
        }

        &__txt {
            margin-bottom: 40px;
        }

        &__ul {
            counter-reset: number;
        }

        &__list {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &::before {
                counter-increment: number;
                content: "#" counter(number, decimal-leading-zero);
                margin-right: 16px;
                font-family: $en;
                font-size: 40px;
            }
        }


    }

    @mixin num {
        position: relative;
        top: -50px;
        left: 0;
        display: block;
        margin-right: 16px;
        font-family: $en;
        font-size: 160px;
        color: $number-color;
    }

    .interview {

        &__container {
            position: relative;
            display: flex;
            margin-bottom: 180px;

            &:nth-of-type(1) .interview__group::before {
                @include num;
                content: "#01";
            }

            &:nth-of-type(2) .interview__group::before {
                @include num;
                content: "#02";
            }

            &:nth-of-type(3) .interview__group::before {
                @include num;
                content: "#03";
            }

            &:nth-of-type(odd) {
                padding: 0 240px;

                & .interview__box {
                    position: absolute;
                }
                & .interview__sub {            
                    position: relative;
                    top: 0;
                    left: 0;
                    margin-left: 80px;
                }

                & .interview__pic {
                    margin-left: 56px;
                }

                & .interview__list {
                    margin-left: auto;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -2;
                    display: block;
                    width: 1440px;
                    height: 690px;
                    background: $accent-color;
                }
            }

            &:nth-of-type(even) {
                padding: 0 80px 0 240px;

                & .interview__box {
                    position: relative;
                    top: 0;
                    right: 0;
                }

                & .interview__group {
                    position: relative;
                    top: 0;
                    left: -300px;
                }
                
                & .interview__sub {            
                    position: relative;
                    top: 0;
                    left: -40px;
                    z-index: 10;
                }

                & .interview__pic {
                    margin-left: 80px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -2;
                    display: block;
                    width: 1440px;
                    height: 690px;
                    background: $accent-color;
                }
            }

        }

        &__group {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin-bottom: 50px;
        }

        &__box {
            margin-top: 34px;
            color: #fff;
        }

        &__name {
            font-size: 24px;
        }

        &__age {
            font-size: 18px;
        }

        &__month {
            font-size: 16px;
            font-weight: 400;
        }

        &__sub {
            width: fit-content;
            padding: 6px;
            font-size: 25px;
            line-height: 1;
            background: $black-color;

            &:nth-of-type(2) {
                margin-bottom: 80px;
            }

        }


        &__pic {
            width: 380px;
            height: 500px;

        }

        &__list {
            width: 920px;
            margin-top: 186px;
            padding: 80px 80px 80px 170px;
            background: #fff;
            counter-reset: qnum;

        }

        &__q {
            position: relative;
            margin-bottom: 20px;
            padding-bottom: 10px;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.4;
            color: $accent-color;

            &::before {
                counter-increment: qnum;
                content: "Q." counter(qnum, decimal-leading-zero);
                position: absolute;
                top: -2px;
                left: -90px;
                font-family: $en;
                font-size: 24px;
                font-weight: 700;
                color: $base-color;
            }
        }

        &__a {
            margin-bottom: 35px;
            font-size: 14px;
            letter-spacing: 0.13em;
            line-height: 1.3;
        }
    }
}