//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#top {



    //lead-mixin
    @mixin lead {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.15em;
        color: $base-color;
    }

    //btn-mixin 
    @mixin btn {
        width: 285px;
        font-family: $en;
        font-size: 24px;
        border-bottom: 4px solid $black-color;
    }

    @mixin link {
        position: relative;
        padding-bottom: 20px;

        &::after {
            content: "";
            position: absolute;
            top: 4px;
            right: 0;
            display: inline-block;
            width: 15px;
            height: 22px;
            background: url(../images/arrow.svg) center center / contain no-repeat;
        }
    }


    .mv {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding: 0 160px;
        background: $base-color;
        color: #fff;


        &__catch {
            margin-bottom: 20px;
            font-family: $en;
            font-size: 240px;
            line-height: 0.91em;
        }

        &__subcatch {
            margin-bottom: 20px;
            font-size: 50px;
            font-weight: 700;
            line-height: 1;
        }

        &__txt {
            width: 610px;
            font-family: $en;
            font-size: 14px;
            line-height: 2.14em;
        }

        &__pic {
            position: absolute;
            top: 132px;
            right: 365px;
            width: 600px;
            height: 800px;
        }

        &__info {
            position: absolute;
            bottom: 180px;
            right: 80px;
            z-index: 50;
            line-height: 1.5;
            text-align: center;
        }

        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 210px;
            height: 210px;
            background: #fff;
            border-radius: 50%;
            color: $base-color;

            &:hover {
                background: $black-color;
                color: #fff;
            }

        }

        &__span {
            font-size: 28px;
        }
    }

    //fv-animation
    .fv {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 40;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        &__main {
            width: 100%;
            height: 100vh;
            z-index: 1;
            animation: main 20s infinite;
            animation-delay: 2s;
        }

        &__box {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;
            height: 100vh;
            padding-right: 200px;
        }

        &__pic {
            width: 830px;
        }

        &__change {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            display: flex;
            width: 300%;
            animation: fv 20s infinite;
            animation-delay: 2s;
        }


        @keyframes fv {
            0% {
                transform: translateX(0);
            }

            25% {
                transform: translateX(calc(1 / 3 * -100%));
            }

            33% {
                transform: translateX(calc(1 / 3 * -100%));
            }

            58% {
                transform: translateX(calc(2 / 3 * -100%));
            }

            66% {
                transform: translateX(calc(2 / 3 * -100%));
            }

            92% {
                transform: translateX(calc(3 / 3 * -100%));
            }

            100% {
                transform: translateX(calc(3 / 3 * -100%));
            }

        }

        @keyframes main {
            0% {
                transform: translateX(100%);
            }

            66% {
                transform: translateX(100%);
            }

            92% {
                transform: translateX(0%);
            }
        }

    }

    .about {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            width: 720px;
            height: 550px;
            background: $accent-color;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1600px;
            margin: 0 auto 160px;
            padding-top: 160px;
        }

        &__pic {
            width: 800px;
            height: 630px;
        }

        &__lead {
            @include lead;
        }

        &__sub {
            margin-bottom: 26px;
            font-size: 24px;
            font-weight: 700;
        }
    }

    .point {

        //#0n-mixin
        @mixin number {
            position: absolute;
            top: -25px;
            left: -45px;
            font-family: $en;
            font-size: 100px;
            color: $base-color;
        }

        &__ttl {
            margin-bottom: 20px;
            font-size: 48px;
            text-align: center;
        }

        &__summary {
            margin-bottom: 80px;
            text-align: center;
        }

        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 80px;
            row-gap: 24px;
            width: 1440px;
            margin: auto;
            color: #fff;
        }

        &__box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &:nth-of-type(1) .point__group::before {
                content: "#01";
                @include number;
            }

            &:nth-of-type(2) .point__group::before {
                content: "#02";
                @include number;
            }

            &:nth-of-type(3) .point__group::before {
                content: "#03";
                @include number;
            }

            &:nth-of-type(4) .point__group::before {
                content: "#04";
                @include number;
            }
        }


        &__pic {
            width: 680px;
            height: 370px;
        }

        &__group {
            position: relative;
            top: -56px;
            width: 624px;
            padding: 40px;
            background: $accent-color;

        }


        &__sub {
            margin-bottom: 24px;
            font-size: 24px;
            font-weight: 700;
        }
    }

    .learning {
        position: relative;
        display: flex;
        gap: 75px;
        margin-left: 480px;

        &__lead {
            @include lead;
        }

        &__txt {
            margin-bottom: 60px;
        }

        &__btn {
            @include btn;
            position: relative;
            display: inline-block;
            margin-bottom: 60px;
            overflow: hidden;
            transition: ease .2s;
        }

        &__link {
            @include link;

            &:hover {
                color: #fff;

                &::after {
                    background: url(../images/arrow-white.svg) center center / contain no-repeat;
                }
            }
        }

        &__link:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: $black-color;
            width: 100%;
            height: 100%;
            transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
            transform: scale(0, 1);
            transform-origin: right top;
        }

        &__link:hover:before {
            transform-origin: left top;
            transform: scale(1, 1);
        }

        &__span {
            position: relative;
            z-index: 3;
            display: block;
            width: 100%;
            height: 100%;
            transition: ease .2s;
            color: $black-color;

        }



        &__mainpic {
            width: 530px;
            height: 530px;
        }

        &__pic {
            width: 260px;
            height: 540px;

            &:nth-of-type(1) {
                margin-top: 175px;
            }

            &:nth-of-type(2) {
                margin-top: 40px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 316px;
            right: 0;
            z-index: -2;
            display: block;
            width: 960px;
            height: 560px;
            background: $accent-color;
        }

    }

    .es {
        position: relative;
        display: flex;
        padding-left: 320px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            display: block;
            width: 960px;
            height: 560px;
            background: $accent-color;
        }

        &__mainpic {
            width: 530px;
            height: 530px;
            margin: 120px 220px 0 0;
        }

        &__box {
            width: 415px;
            margin-right: 52px;
        }

        &__lead {
            @include lead;
        }

        &__txt {
            margin-bottom: 60px;
        }

        &__btn {
            @include btn;
            position: relative;
            display: inline-block;
            margin-bottom: 100px;
            overflow: hidden;
            transition: ease .2s;
        }

        &__link {
            @include link;

            &:hover {
                color: #fff;

                &::after {
                    background: url(../images/arrow-white.svg) center center / contain no-repeat;
                }
            }
        }

        &__span {
            position: relative;
            z-index: 3;
            display: block;
            width: 100%;
            height: 100%;
            transition: ease .2s;
            color: $black-color;

        }

        &__link:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: $black-color;
            transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
            transform: scale(0, 1);
            transform-origin: right top;
        }

        &__link:hover:before {
            transform-origin: left top;
            transform: scale(1, 1);
        }


        &__pic {
            width: 315px;
            height: 315px;

            &:nth-child(3) {
                margin-top: 120px;
            }

        }
    }

    .interview {

        margin: 0 240px 160px;

        &__lead {
            @include lead;
        }

        &__box--1 {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 80px;
        }

        &__group {
            display: flex;
            align-items: flex-end;
            gap: 40px;
        }

        &__btn {
            @include btn;
            position: relative;
            display: inline-block;
            padding-bottom: 0;
            overflow: hidden;
            transition: ease .2s;
        }

        &__link {
            @include link;

            &:hover {
                color: #fff;

                &::after {
                    background: url(../images/arrow-white.svg) center center / contain no-repeat;
                }
            }
        }

        &__span {
            position: relative;
            z-index: 3;
            display: block;
            width: 100%;
            height: 100%;
            transition: ease .2s;
            color: $black-color;

        }

        &__link:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: $black-color;
            width: 100%;
            height: 100%;
            transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
            transform: scale(0, 1);
            transform-origin: right top;
        }

        &__link:hover:before {
            transform-origin: left top;
            transform: scale(1, 1);
        }


        &__ttl {
            margin-bottom: 0;
        }

        &__box--2 {
            display: flex;
            justify-content: space-between;
        }

        &__pic {
            width: 420px;
            height: 600px;

            &:nth-of-type(odd) {
                margin-top: 80px;
            }
        }
    }

    .info {

        &__wrapper {
            width: 100%;
            height: 600px;
            overflow: hidden;

        }

        &__link {
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 1920px;
                height: 600px;
                transition: transform .6s ease;
                background: url(../images/top/info.jpg) center center / cover no-repeat;
            }

            &:hover::before {
                transform: scale(1.1);
                // filter: grayscale(50%);
                // opacity: 8;
                filter: brightness(50%);
            }
        }

        &__container {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 190px 0;
            color: #fff;

            & .info__lead {
                @include lead;
                width: 960px;
                color: #fff;
            }

            & .info__box {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-bottom: 60px;

                & .info__ttl {
                    margin: 0 30px 0 0;
                }
            }

            & .info__btn {
                @include btn;
                position: relative;
                margin: 0 auto;
                padding-bottom: 20px;
                border-bottom: 4px solid #fff;

                &::after {
                    content: "";
                    position: absolute;
                    top: 4px;
                    right: 0;
                    display: inline-block;
                    width: 15px;
                    height: 22px;
                    background: url(../images/arrow-white.svg) center center / contain no-repeat;
                }
            }
        }
    }

    .qa {

        width: 1120px;
        height: 445px;
        margin: 0 auto 160px;
        background: $accent-color;
        color: #fff;
        transition: all ease-in-out .4s;

        &:hover {
            opacity: .8;
        }

        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #fff;

        }

        &__lead {
            @include lead;
            color: #fff;
        }

        &__txt {
            margin-bottom: 60px;
            text-align: center;
        }

        &__btn {
            @include btn;
            position: relative;
            margin: 0 auto;
            padding-bottom: 20px;
            border-bottom: 4px solid #fff;

            &::after {
                content: "";
                position: absolute;
                top: 4px;
                right: 0;
                display: inline-block;
                width: 15px;
                height: 22px;
                background: url(../images/arrow-white.svg) center center / contain no-repeat;
            }

        }


    }

    .apply {
        margin: 0 160px 160px;
        text-align: center;

        &__lead {
            @include lead;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 60px;
        }

        &__arrow {
            margin-top: 214px;
        }

        &__box {
            width: 450px;
        }

        &__pic {
            width: 450px;
            height: 450px;
            margin-bottom: 30px;
        }

        &__sub {
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 700;
        }

        &__txt {
            text-align: left;
        }

        &__btn {
            width: 450px;
            height: 70px;
            margin: 0 auto 16px;

        }

        &__link {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: $accent-color;
            border-radius: 50px;
            color: #fff;

            &:hover {
                background: $black-color;
                color: #fff;
            }

            &::after {
                content: url(../images/arrow-white.svg);
                position: absolute;
                top: 23px;
                right: 75px;
                display: block;
            }
        }

        &__note {
            font-size: 13px;
            font-weight: 400;
        }

    }

    .access {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 240px 0 160px;
        line-height: 1.5;

        &::before {
            content: "";
            position: absolute;
            top: 245px;
            left: 0;
            z-index: -2;
            width: 720px;
            height: 550px;
            background: $accent-color;
        }

        &__lead {
            @include lead;
        }

        &__ttl {
            margin-bottom: 60px;
        }

        &__sub {
            margin-bottom: 40px;
            font-size: 24px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 30px;
            list-style-type: none;
        }

        &__group:nth-of-type(1) .access__list:nth-of-type(1) {
            margin-bottom: 10px;
            line-height: 0;

            &::before {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 10px;
                background: url(../images/tel.svg) center center / cover no-repeat;
            }
        }

        &__group:nth-of-type(1) .access__list:nth-of-type(2) {
            &::before {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 10px;
                background: url(../images/mail.svg) center center / cover no-repeat;
            }
        }

        &__group:nth-of-type(2) .access__list {
            list-style-type: disc;
            list-style-position: inside;
        }


    }

}