//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    padding: 188px 320px 24px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    background: $black-color;
    color: #fff;
    
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 134px;
        align-items: center;
        margin-bottom: 143px;

    }
    &__nav {
        display: flex;
        gap: 64px;
        padding-bottom: 36px;
        border-bottom: 1px solid #fff;
        list-style-type: none;
    }
    &__pic {
        width: 360px;
        height: 140px;
    }

    &__link {
        display: inline-block;
        width: fit-content;
        color: #fff;

        &:hover {
            opacity: .5;
        }
    }

    &__box:nth-of-type(3) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__box:nth-of-type(3) &__list:nth-of-type(1) {
        display: flex;
        align-items: center;
        line-height: 1.5;
    }

    &__twitter {
        display: flex;
        justify-content: center;
    }

    &__twitterimg {
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-right: 16px;
    }

    &__outerlink {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 4px;
    }

    &__copy {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
}