//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.gnav {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;

    &__nav {
        display: flex;
        align-items: center;
        padding-right: 80px;
    }

    &__list {
        line-height: 1;
        text-align: center;

        &:nth-child(1) {
            margin-right: 25px;
        }
    }

    &__link {
        padding: 15px;
        color: #fff;
        
        &--jp {
            display: block;
            opacity: 0;
            transform: translate(0, -7px);
            transition: all 0.4s;
        }
        
        &--eg {
            display: block;
            opacity: 1;
            transform: translate(0, -7px);
            transition: all 0.4s;
        }
        
        &:hover {
            
            .gnav__link--eg {
                opacity: 0;
                transform: translate(0, 7px);
                transition: all 0.4s;
            }
            
            .gnav__link--jp {
                opacity: 1;
                transform: translate(0, 7px);
                transition: all 0.4s;
            }
        }
    }

    &__list:nth-of-type(6) {
        width: 160px;
        margin-left: 15px;

        & .gnav__link {
            padding: 22px 10px;
            background: #fff;
            border-radius: 50px;
            color: $base-color;

            &:hover {
                background: $base-color;
                color: #fff;
            }
        }
    }
}