//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    margin-bottom: 30px;
    text-align: center;

    &__image {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 30px;
    }
    &__link {
        display: inline-block;
        transition: all ease-in-out .4s;

        &:hover {
            opacity: .5;
        }
    }

    &__svg {
        display: inline-block;
        width: 15px;
        height: 15px;
    }

    &__small {
        font-size: 14px;
    }
}