// settingフォルダの変数を読み込みます

@use "../setting" as *;

@keyframes arrow {
    0% {transform: translateY(0);}
    100% {transform: translateY(10px);}

}
@keyframes arrow2 {
    0% {transform: translateY(0);}
    100% {transform: translateY(8px);}
}

@keyframes noScroll {
    0% {height: 0;}
    100% {height: auto;}
}

@keyframes curtain {
    0% {transform: translateY(0);}
    100% {transform: translateY(-120%);}
}

