//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#top {
    .mv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        margin-bottom: 160px;
        line-height: 2.3;
        letter-spacing: .1rem;
        text-align: left;
        background: url(../images/mv.jpg) center center / cover no-repeat;
        color: #fff;

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 7.5vw;
            width: 75vw;
            margin: 0 auto;
        }

        &__ttl {
            width: 50%;
        }

        &__txt {
            width: 50%;
            white-space: pre-line;
        }

        &__news {
            position: absolute;
            bottom: 3.7vh;
            right: 4.1vw;
            width: fit-content;
        }

        &__link {
            padding: 0.5vh 1.5vw;
            background: #fff;
            border-radius: 50px;
            transition: all ease-in-out .4s;

            &:hover {
                background: rgba(255, 255, 255, 0.8);
            }
        }

    }

    .about {

        scroll-margin-top: 120px;

        &__ttl {
            margin-bottom: 120px;
        }

        &__txt {
            margin-bottom: 40px;
            line-height: 2.8;
            white-space: pre-line;
        }

        &__attention {
            font-size: 18px;
        }

        &__btn {
            width: fit-content;
            margin: 0 auto;

        }

        &__link {
            padding: 8px 64px;
            border: 1px solid $base-color;
            border-radius: 50px;
            background: #fff;
            transition: all ease-in-out .4s;

            &:hover {
                background: $base-color;
                color: #fff;
            }
        }

    }

    .cafe {

        scroll-margin-top: 120px;
        margin-bottom: 560px;

        &__ttl {
            margin-bottom: 48px;
        }

        &__txt {
            margin-bottom: 120px;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            gap: 2.6vw;
            width: 83.3vw;
            margin: 0 auto 72px;
        }

        &__sub {
            margin-bottom: 30px;
            font-family: $ttl-font;
            font-size: 24px;
            letter-spacing: .4rem;
        }

        &__btn {
            width: fit-content;
            margin: 0 auto;
        }

        &__link {
            padding: 8px 64px;
            background: #fff;
            border: 1px solid $base-color;
            border-radius: 50px;
            transition: all ease-in-out .4s;

            &:hover {
                background: $base-color;
                color: #fff;
            }
        }
    }

    .relaxation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        position: relative;
        width: fit-content;
        margin: 0 8.3vw 560px auto;
        scroll-margin-top: 160px;
        padding: 3.7vh 5.41vw;
        background: #6C92B7;
        color: #fff;

        &::before {
            content: "";
            display: block;
            width: 1360px;
            height: 800px;
            background: url(../images/relaxation.jpg) center center / cover no-repeat;
            position: absolute;
            top: -21vh;
            left: -48vw;
            z-index: -1;
        }

        &__txt {
            white-space: pre-line;
        }

        &__link {
            padding: 8px 64px;
            background: #fff;
            border-radius: 50px;
            transition: all ease-in-out .4s;

            &:hover {
                background: $base-color;
                color: #fff;
            }
        }
    }

    .location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 88px;
        width: 100%;
        padding: 260px 12.5vw;
        text-align: left;
        background: url(../images/location.jpg) center center / cover no-repeat;

        &__txt {
            white-space: pre-line;
        }

        &__link {
            padding: 8px 64px;
            background: #fff;
            border-radius: 50px;
            transition: all ease-in-out .4s;

            &:hover {
                background: $base-color;
                color: #fff;
            }
        }
    }

    .news {

        scroll-margin-top: 120px;

        &__ttl {
            margin-bottom: 120px;
        }

        &__list {
            display: grid;
            grid-template-columns: 15% 85%;
            width: 50vw;
            margin: 0 auto 32px;
            text-align: left;
        }

        &__date,
        &__txt {
            width: fit-content;
            margin-bottom: 32px;
        }

        &__btn {
            width: fit-content;
            margin: 0 auto;
        }

        &__link {
            padding: 8px 64px;
            background: #fff;
            border: 1px solid $base-color;
            border-radius: 50px;
            transition: all ease-in-out .4s;

            &:hover {
                background: $base-color;
                color: #fff;
            }
        }
    }

    .insta {

        &__ttl {
            margin-bottom: 48px;
        }

        &__txt {
            margin-bottom: 56px;
        }

        &__tl {
            display: flex;
            margin-bottom: 88px;
            list-style-type: none;
        }

        &__btn {
            width: fit-content;
            margin: 0 auto;
        }

        &__link {
            padding: 8px 64px;
            background: #fff;
            border: 1px solid $base-color;
            border-radius: 50px;
            transition: all ease-in-out .4s;

            &:hover {
                background: $base-color;
                color: #fff
            }
        }
    }

    .reservation {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        scroll-margin-top: 160px;
        padding: 40px 0;
        background: #0C54CA;


        &::after {
            position: absolute;
            bottom: 6%;
            left: 40%;
            display: inline-block;
            content: "";
            width: 20%;
            height: 2px;
            background: #fff;
            transition: all .5s;
            transform: scale(0, 0);
            transform-origin: left;
        }

        &:hover::after {
            transform: scale(1, 1);
        }


        &__link {
            color: #fff;
            transition: all ease-in-out .4s;

            &:hover {
                opacity: .7;
            }
        }

        &__txt {
            font-weight: 500;
            white-space: pre-line;
        }

        //     &__btn {
        //         position: relative;

        //         &::after {
        //         position: absolute;
        //         bottom: -35%;
        //         left: 0%;
        //         z-index: 999;
        //         display: inline-block;
        //         content: "";
        //         width: 100%;
        //         height: 2px;
        //         background: #fff;
        //         transition: all .4s;
        //         transform: scale(0, 0);
        //         transform-origin: left;
        //     } 
        //     &:hover::after {
        //         transform: scale(1, 1);
        //     }
        // }                    
    }

    .access {
        display: flex;
        flex-direction: column;
        align-items: center;
        scroll-margin-top: 120px;

        &__ttl {
            margin-bottom: 56px;
        }

        &__info {
            margin-bottom: 64px;
            font-size: 18px;
            font-weight: 700;
            text-align: left;
            white-space: pre-line;
        }

        &__map {
            width: 1440px;
            margin-bottom: 54px;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 88px;
            width: 75vw;
            text-align: left;
        }

        &__box {
            width: 50%;
        }

        &__sub {
            margin-bottom: 40px;
            font-family: $sub-font;
            font-weight: 700;
            font-size: 24px;
        }

        &__txt {
            white-space: pre-line;
        }
    }
}