//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    display: flex;
    justify-content: space-between;
    padding: 120px 240px;
    background: $base;
    transition: all ease-in-out .6s;


    &__ttl {
        margin-bottom: 30px;
        font-family: $en;
        font-size: 32px;
        letter-spacing: 0.05em;
    }
    
    &__link {
        padding: 10px 15px;
        color: #7D4243;
        transition: all ease-out .6s;
    
        &:hover {
            opacity: 0.4;
        }
    }

    &__copy {
        margin-left: 15px;
        font-size: 12px;
    }

    &__sns {
        display: flex;
        align-items: center;
        margin: 0 0 15px 15px;
    }
    
    &__insta {
        display: flex;
        align-items: center;
        margin-left: 20px;
        padding: 10px;
        color: $black;
        transition: all ease-out .6s;

        &::before {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            margin-right: 5px;
            background: url(../images/instagram.png) center center / cover no-repeat;
        }

        &:hover {
            opacity: 0.4;
        }
    }
    
    &__guide {
        display: flex;
        gap: 30px;
    }
    
    &__guidelink {
        padding: 10px 15px;
        color: $black;
        transition: all ease-out .6s;

        &:hover {
            opacity: 0.4;
        }
    }
    
}

.nav {
    position: relative;
    display: flex;
    gap: 50px;
    width: 990px;
    margin: 10px 0 35px;
    padding-bottom: 25px;
    font-size: 14px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 975px;
        height: 1px;
        background: $line;
    }

    &__link {
        padding: 10px 15px;
        color: $black;
        transition: all ease-out .6s;

        &:hover {
            opacity: 0.4;
        }
    }
}