//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 53px 153px 53px 65px;
    color: #fff;

    &__ttl {
        font-family: $en;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 0.06em;
        transition: all ease-out .6s;
    }

    &__link {
        padding: 5px 25px;
        color: #fff;
        transition: all ease-out .6s;

        &:hover {
            opacity: 0.3;
        }
    }
}