//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    &__copy {
        padding: 40px 0;
        font-size: 14px;
        text-align: center;
        color: rgb(95, 95, 95);
    }

    &__up {
        position: fixed;
        bottom: 20px;
        right: 40px;
    }
}