//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

//header-link

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 30px 80px;
    background: rgba(255, 255, 255, 0.75);

    a:hover {
        opacity: .5;
    }

    &__ttl {
        font-size: 48px;
        letter-spacing: 0.1rem;
    }
}