//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.gnav {
    display: flex;
    letter-spacing: 0.1rem;

    &__nav {
        display: flex;
        align-items: center;
    }

    &__list:nth-of-type(n+7) .gnav__link {
        padding: 10px;
    }

    &__link {
        padding: 10px 25px;
    }


    &__img {
        width: 28px;
    }
}