//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;


#top {

    @mixin btn {
        font-family: $en;
        font-size: 12px;
        line-height: 2.5;
        letter-spacing: 0.04em;

    }

    @mixin more {
        color: $black;
        transition: all ease-out .6s;

        &::after {
            content: ">";
            display: inline-block;
            margin-left: 5px;
        }

        &:hover {
            opacity: 0.4;
        }
    }

    .swiper__mv {

        width: 100%;
        height: 100vh;
        color: #fff;


        &--wrapper {
            width: 100%;
            height: 100vh;
        }

        &--slide01,
        &--slide02,
        &--slide03 {
            width: 100%;
            height: 100vh;

        }

        &--slide01 {
            background: url(../images/mv.jpg) center center / cover no-repeat;
        }

        &--slide02 {
            background: url(../images/mv_2.jpg) center center / cover no-repeat;
        }

        &--slide03 {
            background: url(../images/mv_3.jpg) center center / cover no-repeat;
        }

        &--scroll {
            position: absolute;
            bottom: 60px;
            right: 80px;
            z-index: 5;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            color: #fff;

        }

        &--bar {
            position: relative;
            display: block;
            width: 1px;
            height: 50px;
            margin-bottom: 8px;
            background: rgba(255, 255, 255, 0.4);
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                width: 1px;
                height: 25px;
                background: #fff;
                animation: sdb 2.5s ease-in-out infinite;
            }

            @keyframes sdb {
                0% {
                    transform: translateY(-20px);
                }

                50% {
                    transform: translateY(70px);
                }

                100% {
                    transform: translateY(70px);
                }
            }
        }

        @mixin bullets {
            position: absolute;
            top: 28%;
            left: 25%;
        }

        &--pagination {
            width: fit-content;
            bottom: 50px;
            left: 80px;

            & span {
                position: relative;
                display: inline-block;
                width: 31px;
                height: 31px;
                margin-right: 50px;
                font-family: $en;
                border: 1px solid #fff;
                background: none;
                transition: all ease-in-out;

                &:nth-of-type(1)::after {
                    content: "01";
                    @include bullets;
                }

                &:nth-of-type(2)::after {
                    content: "02";
                    @include bullets;
                }

                &:nth-of-type(3)::after {
                    content: "03";
                    @include bullets;
                }
            }

        }


    }

    .swiper__topic {

        width: 100%;
        height: fit-content;
        color: #fff;


        &--slide01,
        &--slide02,
        &--slide03 {
            display: flex;
        }

        &--slide01 {
            & .topic__pic {
                background: $base;
            }

            & .topic__box {
                background: #CA8A8B;
            }
        }

        &--slide02 {
            & .topic__pic {
                background: #F8E2CF;
            }

            & .topic__box {
                background: #d4a68b;
            }
        }

        &--slide03 {
            & .topic__pic {
                background: #F4EAD5;
            }

            & .topic__box {
                background: #b6bf92;
            }
        }

        &--pagination {

            width: fit-content;
            bottom: 45px;
            left: auto;
            right: 23.7%;

            & span {
                background: #fff;
            }

        }
    }

    .topic {

        transition: all ease-in-out .6s;

        &__pic {
            width: 50%;
            padding: 168px;
        }

        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            padding: 50px;

        }

        &__ttl {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 400;
            line-height: 2.2;
            letter-spacing: 0.02em;
        }

        &__sub {
            margin-bottom: 10px;
            font-family: $jp;
            font-size: 30px;
            line-height: 1.6;
            letter-spacing: 0.1em;
            text-align: center;
        }

        &__name {
            margin-bottom: 16px;
            font-family: $en;
            font-size: 18px;
            letter-spacing: 0.1em;
        }

        &__price {
            margin-bottom: 50px;
            font-family: $jp;
            letter-spacing: 0.1em;
        }

        &__btn {
            width: fit-content;
            letter-spacing: 0.1em;
            border: 1px solid #fff;
            border-radius: 50px;
        }

        &__link {
            padding: 15px 70px;
            color: #fff;
            transition: all ease-out .6s;

            &:hover {
                background: #fff;
                border-radius: 50px;
                color: $black ;
            }
        }
    }

    .concept {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1280px;
        padding: 260px 0;
        margin: 0 auto;
        transition: all ease-in-out .6s;

        &__box {
            width: 520px;
        }

        &__ttl {
            margin-bottom: 45px;

        }

        &__sub {
            margin-bottom: 45px;
            font-family: $jp;
            font-size: 26px;
            line-height: 1.15;
            letter-spacing: .1em;
        }

        &__cap {
            margin-bottom: 45px;
            padding-bottom: 45px;
            line-height: 2.3;
            letter-spacing: .1em;
            border-bottom: 1px solid $line;
        }

        &__made {
            margin-bottom: 45px;
            font-family: $en;
            font-size: 10px;
            line-height: 1.8;
        }

        &__txt {
            font-size: 11px;
            line-height: 2.2;
            letter-spacing: 0.1em;
        }

        &__pic {
            width: 610px;
            height: 850px;
        }
    }

    .product {
        padding: 200px 240px;
        background: $accent;
        transition: all ease-in-out .6s;

        &__group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 80px;
        }

        &__btn {
            @include btn;
        }

        &__more {
            @include more;
        }

        &__more {
            color: $black;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            gap: 32px;
        }

        &__link {
            color: $black;

            &:hover {

                .product__img {
                    opacity: .7;
                }
            }

        }

        &__box {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            height: fit-content;
        }

        &__pic {
            margin-bottom: 30px;
            padding: 97px 40px;
            background: #fff;

        }

        &__img {
            transition: all ease-out .6s;

        }

        &__name {
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 1.28;
            letter-spacing: 0.1em;
        }

        &__price {
            font-family: $en;
            font-size: 16px;
        }

        &__tax {
            margin-left: 5px;
            font-size: 11px;
        }

    }

    .image {
        position: sticky;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 620px;
        background: url(../images/ample.jpg) center center / cover no-repeat;
        transition: all ease-in-out .6s;
    }

    .news {
        padding: 200px 240px;
        background: #fff;

        &__container {
            display: flex;
            justify-content: space-between;
            gap: 250px;
            transition: all ease-in-out .6s;
        }

        &__ttl {
            margin-bottom: 60px;
        }

        &__btn {
            @include btn;
        }

        &__more {
            @include more;
        }

        &__content {
            width: 1115px;
        }

        &__link {
            color: $black;

            &:hover .news__group {
                opacity: .4;
            }

            &:hover .news__arrow {
                background: #CA8A8B;
                border: #fff;
                color: #fff;
            }
        }

        &__box {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 50px;
            border-bottom: 1px solid $line;
        }

        &__group {
            transition: all ease-out .6s;
        }

        &__date {
            margin-bottom: 8px;
            font-family: $en;
            font-size: 14px;
            color: $line;
        }

        &__txt {
            margin-bottom: 30px;
        }

        &__arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border: 1px solid $line;
            border-radius: 50px;
            transition: all ease-out .6s;
        }


    }

    .modal {

        &__container01,
        &__container02,
        &__container03 {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            background: rgba(255, 255, 255, 0.9);
        }

        &__wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            height: 100vh;
        }

        &__pic {
            width: 480px;
            height: 480px;
        }

        &__box {
            width: 640px;
            height: auto;
        }

        &__date {
            margin-bottom: 8px;
            font-family: $en;
            font-size: 14px;
            color: $line;
        }

        &__ttl {
            margin-bottom: 24px;
            font-family: $jp;
            font-size: 18px;
            line-height: 1.4;
        }

        &__txt {
            margin-bottom: 30px;
            line-height: 1.4;
            white-space: pre-line;
        }

        &__name {
            display: block;
            font-family: $jp;
            font-size: 16px;
        }

        &__price {
            display: block;
            font-family: $en;
            font-size: 12px;
        }

        &__detail {
            margin-bottom: 24px;
        }

        &__more {
            width: fit-content;
            @include btn;
        }

        &__link {
            @include more;
        }


    }

    .insta {
        padding: 200px 0 0;
        background: $base;
        overflow: hidden;

        &__group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 94px;
            padding: 0 240px;
            transition: all ease-in-out .6s;
        }

        &__btn {
            @include btn;
        }

        &__more {
            @include more;
        }

        &__container {
            display: flex;
            transition: all ease-in-out .6s;

            &:hover .insta__box {
                animation-play-state: paused;
            }

        }

        &__box {
            display: flex;
            flex-shrink: 0;
        }


        &__pic {
            flex-shrink: 0;
            width: fit-content;
            height: 350px;
        }

        &__link {
            transition: all ease-in-out .6s;

            &:hover {
                opacity: .5;
            }
        }

    }

    .scroll__left {
        animation: left 100s infinite linear 0.5s both;

    }

    @keyframes left {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .scroll__right {
        animation: right 100s infinite linear 0.5s both;

    }

    @keyframes right {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }


}